* {
  font-family: 'Fira Sans', sans-serif;
}

body {
  width: 250px;
  height: 150px;
  margin: 0;  
}

header {
  background-color: #f1f7e7;
  padding: 10px 10px 5px 10px;
  margin: 0;  
  border: 1px solid rgb(235, 236, 230);
}

#main {
  padding: 10px;
}

#settingsArea {
  display: none;
}

.settingsTitle {
  font-weight: 500;
  font-size: 12.5px;
  margin: 20px 0 0 0;
}

.settingsLabel {
  display: inline;
  margin: 0 2px 0 2px;
}

.timeUnitInactive {
  color: rgb(204, 209, 181);
}

.timeUnitActive {
  color: black;
  text-decoration: underline;
}

.slider {
  display: block;
}

.logo {
  width: 150px;
  display: inline;
  margin: auto;
}

.navIcons{
  float: right;
  margin: 10px 10px 0 0;
}

.icon{
  width: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
}

button {
	background: none;
	background-color: rgb(152, 190, 81);
	border: none;
	padding: 10px;
	outline: inherit;
  border-radius: 8px;
}

#toggleOutput {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lookToggle {
  background-color: green; 

	border: none;
  border-radius: 20%;
	padding: 0;
}
