* {
  font-family: 'Fira Sans', sans-serif;
}

body {
  width: 250px;
  margin: 0;  
}

header {
  background-color: rgb(245, 243, 239);
  padding: 10px 10px 5px 10px;
}

.main {
  padding: 10px;
}

.logo {
  width: 180px;
  display: inline;
  margin: auto;
}

.icon{
  width: 20px;
}

.settings {
  float: right;
  margin: 10px 10px 0 0;

}

#toggleOutput {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lookToggle {
  background-color: green; 

	border: none;
  border-radius: 20%;
	padding: 0;
}
